# React Native / Node
node_modules/
npm-debug.log
yarn-error.log

# Metro
.metro-health-check*
.metro-cache/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.keystore
!debug.keystore

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace/xcuserdata/
*.xcuserstate

# Build artifacts
*.jsbundle

# Env
.env
.env.local

# IDE / OS
.vscode/
.idea/
.DS_Store

# Testing
coverage/
